* {
    font-family: "Source Sans Pro", sans-serif;
  }

  input:not([type=submit]):not([type=file]) {
    font-size: 1.2em;
}

  .results {
    display: flex;
    flex-wrap: wrap;
  }
  
  .word {
    background-color: #04aa6d;
    border-radius: 5px;
    font-size: 17px;
    padding: 6px;
    margin: 6px;
  }

  .emptyResult {
    background-color: red;

  }

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
        body {
      background-color: lightblue;
    }
    * {
      font-size: 40px;
    }

  }
  