* {
    font-family: "Source Sans Pro", sans-serif;
  }

  input:not([type=submit]):not([type=file]) {
    font-size: 1.2em;
}

  .results {
    display: flex;
    flex-wrap: wrap;
  }
  
  .word {
    background-color: #04aa6d;
    border-radius: 5px;
    font-size: 17px;
    padding: 6px;
    margin: 6px;
  }

  .emptyResult {
    background-color: red;

  }
  