* {
  font-family: "Comic Sans MS", "Comic Sans";
}

input:not([type="submit"]):not([type="file"]) {
  font-size: 1.2em;
  border: 1px solid;
  border-radius: 8px;
}

.btnSearch {
  font-size: 1.2em;
  border: 1px solid;
  border-radius: 8px;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.word {
  border: 1px dashed #bbb;
  background: #ebffe0;
  border-radius: 5px;
  font-size: 18px;
  padding: 6px;
  margin: 6px;
  color: #2484c6;
  text-transform: capitalize;
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 350px) and (max-device-width: 815px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-color: lightblue;
  }

  .word {
    border: 1px dashed #bbb;
    background: #ebffe0;
    border-radius: 5px;
    font-size: 45px;
    padding: 6px;
    margin: 6px;
    color: #2484c6;
    text-transform: capitalize;
  }

  * {
    font-size: 40px;
  }
}
